* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html {
    font-size: 69.5;
}

body {
    font-size: 1.6rem;
}

h1 {
    margin: 20px;
}

fieldset {
    margin: 20px;
    padding: 10px;
}
textarea {
    width: 80%;
    height: 200px;
    padding: 20px;
    resize: none;
}

